<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>AE</key>
		<integer>-20</integer>
		<key>E</key>
		<real>-11.034500122070312</real>
		<key>L</key>
		<real>-11.120699882507324</real>
		<key>P</key>
		<real>-7.2413802146911621</real>
		<key>R</key>
		<real>-7.2413802146911621</real>
		<key>U</key>
		<real>-16.034500122070312</real>
		<key>V</key>
		<real>-14.482799530029297</real>
		<key>W</key>
		<real>-11.120699882507324</real>
		<key>Y</key>
		<real>-27.241399765014648</real>
		<key>b</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>k</key>
		<real>-21.120700836181641</real>
		<key>l</key>
		<real>-13.362099647521973</real>
		<key>r</key>
		<real>-17.241399765014648</real>
		<key>u</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-25</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>O</key>
		<integer>-5</integer>
		<key>R</key>
		<integer>-5</integer>
		<key>a</key>
		<real>-18.879299163818359</real>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>r</key>
		<real>-18.879299163818359</real>
	</dict>
	<key>D</key>
	<dict>
		<key>AE</key>
		<integer>-35</integer>
		<key>D</key>
		<integer>-20</integer>
		<key>E</key>
		<real>-22.241399765014648</real>
		<key>I</key>
		<real>-14.482799530029297</real>
		<key>L</key>
		<real>-11.793100357055664</real>
		<key>M</key>
		<integer>-25</integer>
		<key>N</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-5</integer>
		<key>P</key>
		<real>-13.362099647521973</real>
		<key>R</key>
		<real>-13.362099647521973</real>
		<key>U</key>
		<real>-10.448300361633301</real>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<real>-22.241399765014648</real>
		<key>Y</key>
		<real>-41.637901306152344</real>
		<key>a</key>
		<real>-1.1206899881362915</real>
	</dict>
	<key>E</key>
	<dict>
		<key>C</key>
		<real>-6.120689868927002</real>
		<key>O</key>
		<real>-6.120689868927002</real>
		<key>u</key>
		<real>-11.120699882507324</real>
		<key>v</key>
		<integer>-5</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>AE</key>
		<integer>-90</integer>
		<key>C</key>
		<real>-16.120700836181641</real>
		<key>O</key>
		<real>-17.241399765014648</real>
		<key>a</key>
		<real>-40.672401428222656</real>
		<key>c</key>
		<integer>-45</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>i</key>
		<real>-20.448299407958984</real>
		<key>o</key>
		<real>-29.482799530029297</real>
		<key>r</key>
		<real>-17.241399765014648</real>
		<key>t</key>
		<real>-12.241399765014648</real>
		<key>u</key>
		<integer>-25</integer>
		<key>y</key>
		<real>-38.879299163818359</real>
	</dict>
	<key>G</key>
	<dict>
		<key>E</key>
		<real>-20.448299407958984</real>
		<key>O</key>
		<real>-12.465499877929688</real>
		<key>R</key>
		<real>-21.793100357055664</real>
		<key>U</key>
		<real>-22.241399765014648</real>
		<key>u</key>
		<real>-10.448300361633301</real>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>O</key>
		<real>-12.241399765014648</real>
		<key>c</key>
		<integer>-25</integer>
		<key>eight</key>
		<real>-2.241379976272583</real>
		<key>four</key>
		<real>-2.241379976272583</real>
		<key>nine</key>
		<real>-2.241379976272583</real>
		<key>o</key>
		<real>-27.672399520874023</real>
		<key>u</key>
		<real>-12.241399765014648</real>
		<key>y</key>
		<integer>-22</integer>
		<key>zero</key>
		<real>-4.482759952545166</real>
	</dict>
	<key>I</key>
	<dict>
		<key>C</key>
		<real>-20.448299407958984</real>
		<key>O</key>
		<real>-20.448299407958984</real>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>o</key>
		<real>-22.241399765014648</real>
		<key>t</key>
		<real>-26.724100112915039</real>
	</dict>
	<key>J</key>
	<dict>
		<key>AE</key>
		<integer>-20</integer>
		<key>O</key>
		<real>-26.120700836181641</real>
		<key>a</key>
		<real>-31.120700836181641</real>
		<key>backslash</key>
		<real>11.206899642944336</real>
		<key>c</key>
		<integer>-40</integer>
		<key>o</key>
		<real>-43.362098693847656</real>
		<key>u</key>
		<real>-33.362098693847656</real>
	</dict>
	<key>K</key>
	<dict>
		<key>C</key>
		<integer>-25</integer>
		<key>O</key>
		<integer>-45</integer>
		<key>backslash</key>
		<real>6.7241401672363281</real>
		<key>c</key>
		<real>-20.448299407958984</real>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>slash</key>
		<real>6.7241401672363281</real>
		<key>u</key>
		<real>-31.120700836181641</real>
		<key>v</key>
		<integer>-53</integer>
		<key>w</key>
		<integer>-50</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<real>-17.758600234985352</real>
		<key>O</key>
		<real>-17.758600234985352</real>
		<key>T</key>
		<integer>-75</integer>
		<key>U</key>
		<integer>-30</integer>
		<key>V</key>
		<real>-79.396598815917969</real>
		<key>W</key>
		<real>-75.517196655273438</real>
		<key>Y</key>
		<integer>-100</integer>
		<key>backslash</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-50</integer>
		<key>quotedbl</key>
		<integer>-100</integer>
		<key>slash</key>
		<real>6.7241401672363281</real>
		<key>u</key>
		<integer>-13</integer>
		<key>y</key>
		<integer>-40</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-40</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-40</integer>
		<key>slash</key>
		<real>6.7241401672363281</real>
	</dict>
	<key>N</key>
	<dict>
		<key>AE</key>
		<integer>-20</integer>
		<key>C</key>
		<real>-4.482759952545166</real>
		<key>O</key>
		<real>-12.241399765014648</real>
		<key>a</key>
		<real>-14.482799530029297</real>
		<key>c</key>
		<real>-24.034500122070312</real>
		<key>i</key>
		<real>-12.241399765014648</real>
		<key>o</key>
		<real>-24.482799530029297</real>
		<key>u</key>
		<real>-27.84480094909668</real>
	</dict>
	<key>O</key>
	<dict>
		<key>AE</key>
		<integer>-20</integer>
		<key>B</key>
		<integer>-5</integer>
		<key>D</key>
		<real>-13.362099647521973</real>
		<key>E</key>
		<real>-12.241399765014648</real>
		<key>F</key>
		<real>-12.241399765014648</real>
		<key>H</key>
		<integer>-10</integer>
		<key>I</key>
		<integer>-10</integer>
		<key>K</key>
		<real>-10.448300361633301</real>
		<key>L</key>
		<real>-11.120699882507324</real>
		<key>M</key>
		<integer>-30</integer>
		<key>N</key>
		<real>-11.120699882507324</real>
		<key>P</key>
		<real>-16.120700836181641</real>
		<key>R</key>
		<real>-16.120700836181641</real>
		<key>T</key>
		<integer>-15</integer>
		<key>U</key>
		<real>-7.2413802146911621</real>
		<key>V</key>
		<integer>-22</integer>
		<key>W</key>
		<real>-20.224100112915039</real>
		<key>X</key>
		<integer>-10</integer>
		<key>Y</key>
		<real>-40.672401428222656</real>
		<key>a</key>
		<integer>-10</integer>
		<key>b</key>
		<integer>-6</integer>
		<key>h</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-15</integer>
		<key>l</key>
		<integer>-10</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>AE</key>
		<integer>-100</integer>
		<key>E</key>
		<real>-11.120699882507324</real>
		<key>L</key>
		<real>-11.120699882507324</real>
		<key>O</key>
		<integer>-10</integer>
		<key>P</key>
		<real>-11.120699882507324</real>
		<key>U</key>
		<integer>-5</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>a</key>
		<real>-12.67240047454834</real>
		<key>c</key>
		<real>-11.448300361633301</real>
		<key>o</key>
		<real>-19.551700592041016</real>
	</dict>
	<key>R</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>T</key>
		<real>-12.241399765014648</real>
		<key>U</key>
		<real>-13.362099647521973</real>
		<key>V</key>
		<real>-22.241399765014648</real>
		<key>W</key>
		<real>-12.241399765014648</real>
		<key>Y</key>
		<real>-22.241399765014648</real>
		<key>c</key>
		<real>-20.448299407958984</real>
		<key>d</key>
		<real>-21.120700836181641</real>
		<key>o</key>
		<real>-30.672399520874023</real>
		<key>slash</key>
		<real>6.7241401672363281</real>
		<key>t</key>
		<real>-26.120700836181641</real>
		<key>u</key>
		<real>-12.241399765014648</real>
	</dict>
	<key>S</key>
	<dict>
		<key>I</key>
		<real>-3.4482800960540771</real>
		<key>M</key>
		<real>-0.67241400480270386</real>
		<key>T</key>
		<real>-2.6724100112915039</real>
		<key>U</key>
		<real>-7.2413802146911621</real>
		<key>i</key>
		<integer>-10</integer>
		<key>p</key>
		<integer>-40</integer>
		<key>u</key>
		<integer>-20</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>AE</key>
		<integer>-70</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>a</key>
		<real>-73.879302978515625</real>
		<key>backslash</key>
		<real>6.7241401672363281</real>
		<key>c</key>
		<integer>-90</integer>
		<key>d</key>
		<integer>-60</integer>
		<key>h</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<real>-22.241399765014648</real>
		<key>i</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-90</integer>
		<key>r</key>
		<integer>-70</integer>
		<key>s</key>
		<integer>-70</integer>
		<key>u</key>
		<integer>-80</integer>
		<key>v</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-73</integer>
		<key>y</key>
		<integer>-75</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>AE</key>
		<integer>-40</integer>
		<key>C</key>
		<real>-11.120699882507324</real>
		<key>O</key>
		<real>-9.034480094909668</real>
		<key>S</key>
		<real>-3.3448300361633301</real>
		<key>a</key>
		<real>-22.241399765014648</real>
		<key>backslash</key>
		<real>6.7241401672363281</real>
		<key>g</key>
		<integer>-30</integer>
		<key>m</key>
		<real>-30.672399520874023</real>
		<key>n</key>
		<real>-30.672399520874023</real>
		<key>p</key>
		<real>-31.120700836181641</real>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>AE</key>
		<integer>-110</integer>
		<key>C</key>
		<integer>-13</integer>
		<key>O</key>
		<real>-26.120700836181641</real>
		<key>S</key>
		<integer>-10</integer>
		<key>a</key>
		<real>-67.844802856445312</real>
		<key>backslash</key>
		<real>13.448300361633301</real>
		<key>c</key>
		<real>-72.844802856445312</real>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-30</integer>
		<key>o</key>
		<real>-82.241401672363281</real>
		<key>r</key>
		<real>-56.724098205566406</real>
		<key>slash</key>
		<integer>-90</integer>
		<key>u</key>
		<real>-44.482799530029297</real>
		<key>y</key>
		<integer>-60</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>AE</key>
		<integer>-110</integer>
		<key>C</key>
		<real>-20.448299407958984</real>
		<key>O</key>
		<real>-22.241399765014648</real>
		<key>a</key>
		<real>-48.965499877929688</real>
		<key>backslash</key>
		<real>15.689700126647949</real>
		<key>c</key>
		<real>-64.482803344726562</real>
		<key>d</key>
		<real>-52.844799041748047</real>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>-40</integer>
		<key>m</key>
		<real>-54.482799530029297</real>
		<key>n</key>
		<real>-54.482799530029297</real>
		<key>r</key>
		<real>-52.241401672363281</real>
		<key>slash</key>
		<integer>-80</integer>
		<key>t</key>
		<real>-44.482799530029297</real>
		<key>u</key>
		<real>-42.241401672363281</real>
		<key>y</key>
		<integer>-50</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<real>-6.120689868927002</real>
		<key>O</key>
		<real>-13.362099647521973</real>
		<key>a</key>
		<real>-22.241399765014648</real>
		<key>c</key>
		<real>-36.120700836181641</real>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>slash</key>
		<real>8.965519905090332</real>
		<key>u</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-60</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>AE</key>
		<integer>-130</integer>
		<key>C</key>
		<real>-26.120700836181641</real>
		<key>O</key>
		<real>-51.120700836181641</real>
		<key>S</key>
		<real>-6.120689868927002</real>
		<key>a</key>
		<real>-92.241401672363281</real>
		<key>backslash</key>
		<real>13.448300361633301</real>
		<key>c</key>
		<real>-94.482803344726562</real>
		<key>d</key>
		<integer>-85</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>i</key>
		<integer>-50</integer>
		<key>p</key>
		<real>-93.362098693847656</real>
		<key>slash</key>
		<integer>-100</integer>
		<key>u</key>
		<integer>-80</integer>
		<key>v</key>
		<integer>-70</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>O</key>
		<real>-5.6724100112915039</real>
		<key>c</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>backslash</key>
		<integer>-20</integer>
		<key>c</key>
		<real>-16.120700836181641</real>
		<key>d</key>
		<real>-9.5689697265625</real>
		<key>f</key>
		<integer>-18</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>p</key>
		<real>-14.930999755859375</real>
		<key>quotedbl</key>
		<integer>-10</integer>
		<key>slash</key>
		<real>6.7241401672363281</real>
		<key>t</key>
		<real>-20.603399276733398</real>
		<key>u</key>
		<real>-11.120699882507324</real>
		<key>v</key>
		<real>-16.120700836181641</real>
		<key>w</key>
		<integer>-15</integer>
		<key>y</key>
		<real>-19.569000244140625</real>
	</dict>
	<key>b</key>
	<dict>
		<key>backslash</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<real>6.7241401672363281</real>
		<key>l</key>
		<real>-24.930999755859375</real>
		<key>p</key>
		<integer>-25</integer>
		<key>r</key>
		<real>-11.120699882507324</real>
		<key>u</key>
		<real>-9.5517196655273438</real>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>N</key>
		<integer>-20</integer>
		<key>P</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>U</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<real>-64.482803344726562</real>
		<key>Y</key>
		<integer>-90</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<real>8.965519905090332</real>
	</dict>
	<key>c</key>
	<dict>
		<key>h</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-20</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>c</key>
		<real>-6.120689868927002</real>
		<key>g</key>
		<integer>-5</integer>
		<key>o</key>
		<real>-18.448299407958984</real>
		<key>slash</key>
		<real>6.7241401672363281</real>
		<key>t</key>
		<real>-12.241399765014648</real>
		<key>u</key>
		<real>-11.120699882507324</real>
		<key>v</key>
		<real>-3.4482800960540771</real>
		<key>w</key>
		<real>-2.6724100112915039</real>
		<key>y</key>
		<real>-10.67240047454834</real>
	</dict>
	<key>e</key>
	<dict>
		<key>d</key>
		<real>1.7930999994277954</real>
		<key>i</key>
		<integer>-5</integer>
		<key>l</key>
		<integer>-15</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>p</key>
		<real>-11.120699882507324</real>
		<key>u</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-5</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>H</key>
		<real>-2.241379976272583</real>
		<key>nine</key>
		<real>-6.7241401672363281</real>
		<key>seven</key>
		<real>-32.241401672363281</real>
		<key>zero</key>
		<real>-4.482759952545166</real>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<real>-24.482799530029297</real>
		<key>backslash</key>
		<real>11.206899642944336</real>
		<key>c</key>
		<real>-32.241401672363281</real>
		<key>e</key>
		<real>-46.724098205566406</real>
		<key>f</key>
		<real>-12.241399765014648</real>
		<key>g</key>
		<real>-46.724098205566406</real>
		<key>i</key>
		<integer>-10</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>o</key>
		<real>-46.724098205566406</real>
	</dict>
	<key>five</key>
	<dict>
		<key>nine</key>
		<real>-16.120700836181641</real>
		<key>seven</key>
		<integer>-10</integer>
		<key>three</key>
		<integer>-10</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>H</key>
		<real>-2.241379976272583</real>
		<key>nine</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>backslash</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>h</key>
		<real>-12.241399765014648</real>
		<key>l</key>
		<real>-12.241399765014648</real>
		<key>o</key>
		<integer>-15</integer>
		<key>slash</key>
		<real>6.7241401672363281</real>
	</dict>
	<key>h</key>
	<dict>
		<key>backslash</key>
		<integer>-10</integer>
		<key>c</key>
		<real>-16.120700836181641</real>
		<key>d</key>
		<real>-12.241399765014648</real>
		<key>g</key>
		<integer>-10</integer>
		<key>o</key>
		<real>-12.241399765014648</real>
		<key>p</key>
		<real>-16.120700836181641</real>
		<key>slash</key>
		<real>6.7241401672363281</real>
		<key>t</key>
		<real>-26.120700836181641</real>
		<key>u</key>
		<real>-12.241399765014648</real>
		<key>v</key>
		<real>-12.241399765014648</real>
		<key>w</key>
		<real>-12.241399765014648</real>
		<key>y</key>
		<real>-11.120699882507324</real>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>M</key>
		<integer>-20</integer>
		<key>T</key>
		<real>-22.241399765014648</real>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>c</key>
		<real>6.7241401672363281</real>
		<key>d</key>
		<real>6.7241401672363281</real>
	</dict>
	<key>i</key>
	<dict>
		<key>p</key>
		<real>-6.120689868927002</real>
		<key>t</key>
		<real>-13.362099647521973</real>
		<key>v</key>
		<integer>-10</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>c</key>
		<real>-1.1206899881362915</real>
		<key>o</key>
		<real>-2.241379976272583</real>
		<key>u</key>
		<real>-1.1206899881362915</real>
	</dict>
	<key>k</key>
	<dict>
		<key>a</key>
		<real>-20.224100112915039</real>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<real>-22.241399765014648</real>
		<key>g</key>
		<real>-31.120700836181641</real>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>slash</key>
		<real>6.7241401672363281</real>
	</dict>
	<key>l</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
		<key>o</key>
		<real>-2.241379976272583</real>
		<key>p</key>
		<real>-12.67240047454834</real>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-5</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>H</key>
		<real>-2.241379976272583</real>
		<key>eight</key>
		<real>-4.482759952545166</real>
		<key>seven</key>
		<real>-4.482759952545166</real>
	</dict>
	<key>o</key>
	<dict>
		<key>b</key>
		<integer>-17</integer>
		<key>backslash</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>h</key>
		<integer>-25</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>k</key>
		<integer>-20</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>m</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-12</integer>
		<key>p</key>
		<integer>-35</integer>
		<key>quotedbl</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>eight</key>
		<integer>-20</integer>
		<key>five</key>
		<real>-27.758600234985352</real>
		<key>four</key>
		<integer>-30</integer>
		<key>nine</key>
		<integer>-30</integer>
		<key>seven</key>
		<integer>-40</integer>
		<key>six</key>
		<integer>-30</integer>
		<key>three</key>
		<integer>-40</integer>
		<key>two</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>-50</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>backslash</key>
		<integer>-10</integer>
		<key>h</key>
		<real>-22.241399765014648</real>
		<key>hyphen</key>
		<real>6.7241401672363281</real>
		<key>l</key>
		<real>-12.241399765014648</real>
		<key>p</key>
		<real>-21.120700836181641</real>
		<key>u</key>
		<real>-21.120700836181641</real>
	</dict>
	<key>q</key>
	<dict>
		<key>o</key>
		<integer>-5</integer>
		<key>slash</key>
		<real>11.206899642944336</real>
		<key>u</key>
		<integer>-22</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>M</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-25</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-30</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>k</key>
		<integer>-15</integer>
		<key>l</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-10</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>h</key>
		<real>-21.120700836181641</real>
		<key>slash</key>
		<real>8.965519905090332</real>
		<key>t</key>
		<real>-22.241399765014648</real>
		<key>u</key>
		<real>-11.551699638366699</real>
	</dict>
	<key>seven</key>
	<dict>
		<key>eight</key>
		<real>-12.241399765014648</real>
		<key>four</key>
		<integer>-30</integer>
		<key>zero</key>
		<real>-22.241399765014648</real>
	</dict>
	<key>six</key>
	<dict>
		<key>four</key>
		<integer>-10</integer>
		<key>nine</key>
		<integer>-40</integer>
		<key>seven</key>
		<real>-4.482759952545166</real>
		<key>zero</key>
		<real>-22.241399765014648</real>
	</dict>
	<key>slash</key>
	<dict>
		<key>T</key>
		<real>6.7241401672363281</real>
		<key>V</key>
		<real>6.7241401672363281</real>
		<key>W</key>
		<real>6.7241401672363281</real>
		<key>Y</key>
		<real>6.7241401672363281</real>
		<key>a</key>
		<integer>-30</integer>
		<key>b</key>
		<real>6.7241401672363281</real>
		<key>c</key>
		<real>-22.241399765014648</real>
		<key>d</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>k</key>
		<real>6.7241401672363281</real>
		<key>l</key>
		<real>6.7241401672363281</real>
		<key>m</key>
		<integer>-10</integer>
		<key>n</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>p</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-30</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>slash</key>
		<real>8.965519905090332</real>
	</dict>
	<key>three</key>
	<dict>
		<key>nine</key>
		<integer>-15</integer>
		<key>three</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-10</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>four</key>
		<integer>-20</integer>
		<key>nine</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>-10</integer>
		<key>six</key>
		<integer>-20</integer>
		<key>zero</key>
		<real>-11.120699882507324</real>
	</dict>
	<key>u</key>
	<dict>
		<key>backslash</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>p</key>
		<integer>-20</integer>
		<key>slash</key>
		<real>8.965519905090332</real>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<real>-12.241399765014648</real>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>AE</key>
		<integer>-70</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>c</key>
		<real>-24.569000244140625</real>
		<key>d</key>
		<integer>-20</integer>
		<key>g</key>
		<real>-21.120700836181641</real>
		<key>o</key>
		<real>-21.120700836181641</real>
		<key>slash</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-5</integer>
		<key>y</key>
		<integer>-26</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>AE</key>
		<integer>-70</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<real>-16.120700836181641</real>
		<key>d</key>
		<real>-17.672399520874023</real>
		<key>g</key>
		<integer>-10</integer>
		<key>h</key>
		<real>-18.793100357055664</real>
		<key>o</key>
		<real>-20.448299407958984</real>
		<key>slash</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>slash</key>
		<real>6.7241401672363281</real>
	</dict>
	<key>y</key>
	<dict>
		<key>AE</key>
		<integer>-60</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<real>-24.913799285888672</real>
		<key>d</key>
		<real>-21.120700836181641</real>
		<key>o</key>
		<real>-22.672399520874023</real>
		<key>slash</key>
		<integer>-20</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>H</key>
		<real>-4.482759952545166</real>
		<key>eight</key>
		<real>-4.482759952545166</real>
		<key>five</key>
		<integer>-10</integer>
		<key>nine</key>
		<real>-2.241379976272583</real>
		<key>seven</key>
		<integer>-25</integer>
		<key>two</key>
		<real>-11.120699882507324</real>
	</dict>
</dict>
</plist>
