@font-face {
    font-family: 'Maitree-ExtraLight';
    src: url('fonts/Maitree-ExtraLight.eot'),
         url('fonts/Maitree-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/Maitree-ExtraLight.woff2') format('woff2'),
         url('fonts/Maitree-ExtraLight.woff') format('woff'),
         url('fonts/Maitree-ExtraLight.ttf') format('truetype');
    font-family: 'Maitree-Light';
    src: url('fonts/Maitree-Light.eot'),
         url('fonts/Maitree-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Maitree-Light.woff2') format('woff2'),
         url('fonts/Maitree-Light.woff') format('woff'),
         url('fonts/Maitree-Light.ttf') format('truetype');
    font-family: 'Maitree-Regular';
    src: url('fonts/Maitree-Regular.ttf') format('truetype'),
         url('fonts/Maitree-Regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/Maitree-Regular.woff2') format('woff2'),
         url('fonts/Maitree-Regular.woff') format('woff');
    font-family: 'Maitree-Medium';
    src: url('fonts/Maitree-Medium.eot'),
         url('fonts/Maitree-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Maitree-Medium.woff2') format('woff2'),
         url('fonts/Maitree-Medium.woff') format('woff'),
         url('fonts/Maitree-Medium.ttf') format('truetype');
    font-family: 'Maitree-Semibold';
    src: url('fonts/Maitree-Semibold.ttf') format('truetype'),
         url('fonts/Maitree-Semibold.eot?#iefix') format('embedded-opentype'),
          url('fonts/Maitree-Semibold.woff2') format('woff2'),
         url('fonts/Maitree-Semibold.woff') format('woff');
    font-family: 'Maitree-Bold';
    src: url('fonts/Maitree-Bold.ttf') format('truetype'),
         url('fonts/Maitree-Bold.eot?#iefix') format('embedded-opentype'),
          url('fonts/Maitree-Bold.woff2') format('woff2'),
         url('fonts/Maitree-Bold.woff') format('woff');
}

#block-1 {
  color: #FFF;
  background-color: #FF0058;
  height: 720px;
}

#block-1-header {
  font-family: Maitree-Light;
  font-size: 25pt;
  line-height: 200%;
  text-align: center;
  padding-top: 250px;
}

#name {
  font-family: Maitree-Medium;
  font-size: 90pt;
}

#block-2 {
  color: #FF0058;
  background-color: #FFF;
  font-family: Maitree-Regular;
  font-size: 50pt;
  line-height: 120%;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 100px;
}

#block-3 {
  height: 720px;
  background: url("img/block03.png") no-repeat center;
  color: #333333;
  background-color: #FF0058;
}

#block-3-text {
  font-family: Maitree-Regular;
  font-size: 12pt;
  font-weight: 400;
  line-height: 140%;
  text-align: right;
  padding-top: 380px;
}

#block-4 {
  height: 720px;
  background: url("img/block04.png") no-repeat center;
  color: #FF0058;
  background-color: #333333;
}

#block-4-text {
  font-family: Maitree-Medium;
  font-size: 20pt;
  font-weight: 500;
  line-height: 120%;
  text-align: right;
  padding-top: 380px;
}

#block-5 {
  color: #FF0058;
  background-color: #FFF;
  padding-top: 100px;
  padding-bottom: 120px;
}

#block-5-Title {
  font-family: Maitree-Regular;
  font-size: 16pt;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
}

#block-5-text1 {
  font-family: Maitree-ExtraLight;
  font-size: 110pt;
  line-height: 100%;
  font-weight: 200;
  text-align: left;
  padding-top: 50px;
}

#block-5-text1_2 {
  font-family: Maitree-Light;
  font-size: 12pt;
  line-height: 100%;
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
}

#block-5-text2 {
  font-family: Maitree-Light;
  font-size: 110pt;
  line-height: 100%;
  font-weight: 300;
  text-align: left;
  padding-top: 55px;
}

#block-5-text2_2 {
  font-family: Maitree-Light;
  font-size: 12pt;
  line-height: 100%;
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
}

#block-5-text3 {
  font-family: Maitree-Regular;
  font-size: 110pt;
  line-height: 100%;
  font-weight: 400;
  text-align: left;
  padding-top: 60px;
}

#block-5-text3_2 {
  font-family: Maitree-Light;
  font-size: 12pt;
  line-height: 100%;
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
}

#block-5-text4 {
  font-family: Maitree-Medium;
  font-size: 110pt;
  line-height: 100%;
  font-weight: 500;
  text-align: left;
  padding-top: 65px;
}

#block-5-text4_2 {
  font-family: Maitree-Light;
  font-size: 12pt;
  line-height: 100%;
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
}

#block-5-text5 {
  font-family: Maitree-Semibold;
  font-size: 110pt;
  line-height: 100%;
  font-weight: 600;
  text-align: left;
  padding-top: 70px;
}

#block-5-text5_2 {
  font-family: Maitree-Light;
  font-size: 12pt;
  line-height: 100%;
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
}

#block-5-text6 {
  font-family: Maitree-Bold;
  font-size: 110pt;
  line-height: 100%;
  font-weight: 700;
  text-align: left;
  padding-top: 80px;
}

#block-5-text6_2 {
  font-family: Maitree-Light;
  font-size: 12pt;
  line-height: 100%;
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
}

#block-6 {
  height: 720px;
  background: url("img/block06.png") no-repeat center;
  color: #333333;
  background-color: #FF0058;
}

#block-7 {
  background: url("img/block07.png") no-repeat center;
  background-size: cover;
  height: 720px;
  color: #FFF;
  background-color: #333333;
}

#block-7-text {
  font-family: Maitree-Light;
  font-size: 16pt;
  font-weight: 300;
  line-height: 150%;
  text-align: left;
  padding-top: 200px;
}

#block-8 {
  background: url("img/block08.png") no-repeat center;
  background-size: cover;
  height: 720px;
  color: #FFF;
  background-color: #333333;
}

#block-8-text {
  font-family: Maitree-Bold;
  font-size: 18pt;
  font-weight: 700;
  line-height: 150%;
  text-align: left;
  padding-top: 430px;
}

#block-9 {
  color: #FF0058;
  background-color: #FFF;
  padding-top: 80px;
  padding-bottom: 50px;
}

#block-9-Title {
  font-family: Maitree-Light;
  font-size: 10pt;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0px;
}

#block-9-Char {
  font-family: Maitree-ExtraLight;
  font-size: 22pt;
  font-weight: 200;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-9-Num {
  font-family: Maitree-ExtraLight;
  font-size: 22pt;
  font-weight: 200;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-9-Vowel {
  font-family: Maitree-ExtraLight;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 200;
  text-align: left;
  padding-bottom: 15px;
}

#block-9-Sp-Char {
  font-family: Maitree-ExtraLight;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 200;
  text-align: left;
  padding-bottom: 15px;
}

#block-9-Symbol {
  font-family: Maitree-ExtraLight;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 200;
  text-align: left;
  padding-bottom: 15px;
}

#block-9-Ac-Char {
  font-family: Maitree-ExtraLight;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 200;
  text-align: left;
  padding-bottom: 15px;
}

#block-9-Text1 {
  font-family: Maitree-ExtraLight;
  line-height: 125%;
  font-size: 10pt;
  font-weight: 200;
  text-align: left;
}

#block-9-Text2 {
  font-family: Maitree-ExtraLight;
  line-height: 125%;
  font-size: 20pt;
  font-weight: 200;
  text-align: left;
}

#block-10 {
  color: #FF0058;
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

#block-10-Char {
  font-family: Maitree-Light;
  font-size: 22pt;
  font-weight: 300;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-10-Num {
  font-family: Maitree-Light;
  font-size: 22pt;
  font-weight: 300;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-10-Vowel {
  font-family: Maitree-Light;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 300;
  text-align: left;
  padding-bottom: 15px;
}

#block-10-Sp-Char {
  font-family: Maitree-Light;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 300;
  text-align: left;
  padding-bottom: 15px;
}

#block-10-Symbol {
  font-family: Maitree-Light;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 300;
  text-align: left;
  padding-bottom: 15px;
}

#block-10-Ac-Char {
  font-family: Maitree-Light;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 300;
  text-align: left;
  padding-bottom: 15px;
}

#block-10-Text1 {
  font-family: Maitree-Light;
  line-height: 125%;
  font-size: 10pt;
  font-weight: 300;
  text-align: left;
}

#block-10-Text2 {
  font-family: Maitree-Light;
  line-height: 125%;
  font-size: 20pt;
  font-weight: 300;
  text-align: left;
}

#block-11 {
  color: #FF0058;
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

#block-11-Char {
  font-family: Maitree-Regular;
  font-size: 22pt;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-11-Num {
  font-family: Maitree-Regular;
  font-size: 22pt;
  font-weight: 400;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-11-Vowel {
  font-family: Maitree-Regular;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 400;
  text-align: left;
  padding-bottom: 15px;
}

#block-11-Sp-Char {
  font-family: Maitree-Regular;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 400;
  text-align: left;
  padding-bottom: 15px;
}

#block-11-Symbol {
  font-family: Maitree-Regular;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 400;
  text-align: left;
  padding-bottom: 15px;
}

#block-11-Ac-Char {
  font-family: Maitree-Regular;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 400;
  text-align: left;
  padding-bottom: 15px;
}

#block-11-Text1 {
  font-family: Maitree-Regular;
  line-height: 125%;
  font-size: 10pt;
  font-weight: 400;
  text-align: left;
}

#block-11-Text2 {
  font-family: Maitree-Regular;
  line-height: 125%;
  font-size: 20pt;
  font-weight: 400;
  text-align: left;
}

#block-12 {
  color: #FF0058;
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

#block-12-Char {
  font-family: Maitree-Medium;
  font-size: 22pt;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-12-Num {
  font-family: Maitree-Medium;
  font-size: 22pt;
  font-weight: 500;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-12-Vowel {
  font-family: Maitree-Medium;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 500;
  text-align: left;
  padding-bottom: 15px;
}

#block-12-Sp-Char {
  font-family: Maitree-Medium;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 500;
  text-align: left;
  padding-bottom: 15px;
}

#block-12-Symbol {
  font-family: Maitree-Medium;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 500;
  text-align: left;
  padding-bottom: 15px;
}

#block-12-Ac-Char {
  font-family: Maitree-Medium;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 500;
  text-align: left;
  padding-bottom: 15px;
}

#block-12-Text1 {
  font-family: Maitree-Medium;
  line-height: 125%;
  font-size: 10pt;
  font-weight: 500;
  text-align: left;
}

#block-12-Text2 {
  font-family: Maitree-Medium;
  line-height: 125%;
  font-size: 20pt;
  font-weight: 500;
  text-align: left;
}

#block-13 {
  color: #FF0058;
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

#block-13-Char {
  font-family: Maitree-Semibold;
  font-size: 22pt;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-13-Num {
  font-family: Maitree-Semibold;
  font-size: 22pt;
  font-weight: 600;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-13-Vowel {
  font-family: Maitree-Semibold;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 600;
  text-align: left;
  padding-bottom: 15px;
}

#block-13-Sp-Char {
  font-family: Maitree-Semibold;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 600;
  text-align: left;
  padding-bottom: 15px;
}

#block-13-Symbol {
  font-family: Maitree-Semibold;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 600;
  text-align: left;
  padding-bottom: 15px;
}

#block-13-Ac-Char {
  font-family: Maitree-Semibold;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 600;
  text-align: left;
  padding-bottom: 15px;
}

#block-13-Text1 {
  font-family: Maitree-Semibold;
  line-height: 125%;
  font-size: 10pt;
  font-weight: 600;
  text-align: left;
}

#block-13-Text2 {
  font-family: Maitree-Semibold;
  line-height: 125%;
  font-size: 20pt;
  font-weight: 600;
  text-align: left;
}

#block-14 {
  color: #FF0058;
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

#block-14-Char {
  font-family: Maitree-Bold;
  font-size: 22pt;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-14-Num {
  font-family: Maitree-Bold;
  font-size: 22pt;
  font-weight: 700;
  text-align: left;
  line-height: 120%;
  letter-spacing: 3px;
  padding-bottom: 15px;
}

#block-14-Vowel {
  font-family: Maitree-Bold;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 700;
  text-align: left;
  padding-bottom: 15px;
}

#block-14-Sp-Char {
  font-family: Maitree-Bold;
  line-height: 150%;
  font-size: 22pt;
  font-weight: 700;
  text-align: left;
  padding-bottom: 15px;
}

#block-14-Symbol {
  font-family: Maitree-Bold;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 700;
  text-align: left;
  padding-bottom: 15px;
}

#block-14-Ac-Char {
  font-family: Maitree-Bold;
  line-height: 130%;
  font-size: 22pt;
  font-weight: 700;
  text-align: left;
  padding-bottom: 15px;
}

#block-14-Text1 {
  font-family: Maitree-Bold;
  line-height: 125%;
  font-size: 10pt;
  font-weight: 700;
  text-align: left;
}

#block-14-Text2 {
  font-family: Maitree-Bold;
  line-height: 125%;
  font-size: 20pt;
  font-weight: 700;
  text-align: left;
}

#Line1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FF0058;
}

#Line2 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FF0058;
}
